<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail du contact</title>
</head>
<body>
<h2>Détail du contact</h2>
<p>Nom : <span th:text="${student.getName()}"></span></p>
<p>Prénom : <span th:text="${student.getLastname()}"></span></p>
<p>Email : <span th:text="${student.getEmail()}"></span></p>
<a th:href="@{/list}">retour</a>
<a th:href="@{/delete/{id}(id=${student.getId()})}">supprimer</a>
<a th:href="@{/update/{id}(id=${student.getId()})}">update</a>
<a th:href="@{/}">Home Page</a>
</body>
</html>